.button {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 14.5px 16px;
  border: none;
  border-radius: 4px;
  background: #167db7;
  color: #ffffff;
  transition: all 0.5s ease-in;
}

.button-left-icon {
  margin-right: 5px;
}

.button.button--full-width {
  width: 100%;
}
.button.button--outline {
  background: none;
  border: 1px solid #167db7;
  border-radius: 4px;
  color: #167db7;
}

.button.button--size-m {
  padding: 6px 8px;
}
.button--success {
  background: #00a550;
}
