.button {
  font-family: sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 14.5px 16px;
  border: none;
  border-radius: 4px;
  background: #167db7;
  color: #ffffff;

  &--full-width {
    width: 100%;
  }
  &--outline {
    background: none;
    border: 1px solid #167db7;
    border-radius: 4px;
    padding: 6px 8px;
    color: #167db7;
  }
}
